@font-face {
  font-family: 'MicrosoftSansSerif';
  src: url('/fonts/Microsoft/MicrosoftSansSerif.svg#MicrosoftSansSerif') format('svg'),
       url('/fonts/Microsoft/MicrosoftSansSerif.ttf') format('truetype'),
       url('/fonts/Microsoft/MicrosoftSansSerif.woff') format('woff'),
       url('/fonts/Microsoft/MicrosoftSansSerif.eot'),
       url('/fonts/Microsoft/MicrosoftSansSerif.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Microsoft/MicrosoftSansSerif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}